.projectContainer{
    display: flex;
    flex-direction:row;
    justify-content:space-between;

    flex-wrap:wrap;  
    width: 75vw;
    height: fit-content;
    margin: 5vh 320px;
    /* overflow: scroll; */
    /* border: 2px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: gainsboro;
    
}
.card{
    margin: 10px 10px;
    width: 22vw;
    height: 550px;
    color: black;
    overflow: hidden;  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    overflow:scroll;
}


.card .content{
    text-align: center;
    color: black;
    padding: 5px 8px;
}


@media screen and (max-width: 1064px) {
    
    .projectContainer{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        align-items: center;
    
        flex-wrap:wrap;  
        width: 85vw;
        height: fit-content;
        margin: 5vh 330px;
        /* overflow: scroll; */
        /* border: 2px solid black; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        /* overflow: scroll; */
    }
    .card{
        margin: 10px 25px;
        width: 35vw;
        height: 400px;
        color: black;
        overflow: scroll;
    }
    
    
    .card .content{
        text-align: center;
        color: black;
        padding: 5px 8px;
    }
    
}

@media screen and (max-width: 935px) {
    
    .projectContainer{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        align-items: center;
    
        flex-wrap:wrap;  
        width: 75vw;
        height: fit-content;
        margin: 5vh 260px;
        /* overflow: scroll; */
        /* border: 2px solid black; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        /* overflow: scroll; */
    }
    
    .card{
        margin: 10px 25px;
        width: 30vw;
        height: 550px;
        color: black;
        overflow: scroll;
    }
    
    
    .card .content{
        text-align: center;
        color: black;
        padding: 5px 8px;
    }
    
}











